@{
    Layout = "_Layout";
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Message"]</h1>
<p>This is a simple dice game. Dice are rolled and scored similarly to the game Farkle.</p>
<h2>How to Play</h2>
<ol>
    <li>Press "Roll Dice" to roll all of your dice in the "Rolling Dice" box</li>
    <li>Click on any dice you wish to save, and they will be moved to your "Held Dice" box. Dice being held will be scored after each click, and any points accumulated will be added to the 'Rolling Score'</li>
    <li>Press the "Roll Dice" button again to roll any dice remaining in the "Rolling Dice" box, and hold any additional dice. If you do not roll a one or a five in the dice remaining, you will roll a "Warkle" and lose all rolling score.</li>
    <li>If you do not wish to roll any more points, press the "Take Score" button to add your rolling score to your score</li>
</ol>