@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Message"]</h1>
<address>
    111 SomePlace <br>
    Town, MI 12345 <br>
    USA <br>
    Email: <a href="mailto:webmaster@nospam.com">Webmaster</a>
</address>